.article-page-container {
  margin: auto;
  max-width: 50%;
  img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.paragraphs-container {
  line-height: $line-height-medium;
}

.paragraph {
  padding: 0.1rem 0;
  line-height: $line-height-medium;
}

@media screen and (max-width: 768px) {
  .article-page-container {
    max-width: 90%;
  }
}
