@import "./variables.scss";
@import "../components/Navbar/navbar.scss";
@import "../components/ArticlesList/articles_list.scss";
@import "../components/ArticleCard/article_card.scss";
@import "../components/Content/content.scss";
@import "../components/Tile/tile.scss";
@import "../components/Footer/footer.scss";

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  background-color: $background-color;

  h1 {
    font-size: $font-size-large;
    line-height: $line-height-small;
  }

  p {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}
ul {
  list-style: none;
  padding: 0;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.main-content {
  margin-top: $navbar-height;
  padding: $padding-medium;
  height: 100vh;
}
