// Couleurs
$primary-color: #ff0000;
$secondary-color: #00ff00;
$text-color: #0c0c0f;
$link-color: #0066cc;
$background-color: #fbfbfb;
$background-color-light: #f6f4f4;
$background-color-dark: #0c0c0f;
$font-color-light: #ffffff;
$font-color-dark: #0c0c0f;
$font-color-grey: #808080;
$font-color-grey-light: #d3d3d3;
$font-color-grey-dark: #878686;

// Typographie
$font-family: "Roboto", sans-serif;
$font-size-small: 0.8em;
$font-size-medium: 1em;
$font-size-extra-medium: 1.2em;
$font-size-large: 1.5em;
$font-size-extra-large: 2em;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$line-height-small: 1;
$line-height-medium: 1.6;
$line-height-large: 1.8;

// Marges et espacements
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 15px;

// Dimensions
$button-width: 120px;
$button-height: 40px;
$navbar-height: 6rem;

// Flexbox
$flex-display: flex;
$flex-direction-row: row;
$flex-direction-column: column;
$flex-align-center: center;
$flex-justify-center: center;

// Media queries
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Z-Index
$z-index-top: 9999;
$z-index-medium: 100;
$z-index-low: 10;

// Bordures
$border-radius: 5px;
$border-radius-large: 10px;

// ... autres variables

// Media queries pour le responsive design
@media (max-width: $breakpoint-small) {
  // Définissez ici les valeurs spécifiques pour les petits écrans
  $font-size-small: 0.7em;
  $margin-small: 5px;
  // ... autres modifications
}

@media (min-width: $breakpoint-medium) {
  // Définissez ici les valeurs spécifiques pour les écrans de taille moyenne
  $font-size-medium: 1.2em;
  $margin-medium: 15px;
  .column-container {
    column-count: 1;
  }
  // ... autres modifications
}

@media (min-width: $breakpoint-large) {
  // Définissez ici les valeurs spécifiques pour les grands écrans
  $font-size-large: 2em;
  $margin-large: 25px;
  // ... autres modifications
}
