.navbar {
  background-color: $background-color;
  color: $font-color-dark;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-top;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: $padding-small;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease-in-out;
  padding: $padding-medium;
}

.navbar.opaque {
  background-color: #ffffff; /* Définissez ici la couleur souhaitée pour la navbar opaque */
}

.navbar.blur {
  backdrop-filter: blur(
    10px
  ); // Ajustez la valeur de flou (10px) selon vos préférences
}

h1 {
  font-size: $font-size-large;
  margin: 0;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.hamburger-icon {
  font-size: $font-size-large;
  margin: 0 1rem 0 0;
  transition: all 0.3s ease-in-out;
  color: $font-color-dark;

  &:hover {
    color: $font-color-grey-dark;
    transition: all 0.3s ease-in-out;
    font-size: $font-size-extra-large;
  }
}

.hamburger-icon.open {
  background-color: transparent;
}

.hamburger-icon.open:before {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-icon.open:after {
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-links.open {
  display: flex;
}

.navbar-links {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: $line-height-medium;
  overflow-y: auto;
  height: 100vh;
  max-height: calc(100vh - 5rem);
  background-color: rgba(
    245,
    245,
    245,
    0.8
  ); /* Couleur de fond semi-transparente */
  width: 100%;
  margin: 0;
  padding: 0;
  top: 6rem;
  left: 0;
  position: fixed;
  border-radius: 5px;
  backdrop-filter: blur(20px); /* Effet de flou */
  transition: all 0.3s ease-in-out;

  .link {
    font-size: $font-size-large;
    color: $font-color-grey-dark;

    &:hover {
      color: $font-color-dark;
      font-size: $font-size-extra-large;
      transition: all 0.3s ease-in-out;
    }
  }
}
