.summary-list {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-height: 18rem;
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list-items {
  width: 100%;
  aspect-ratio: 3/2;
}
