@import url("./components/Navbar/navbar.scss");
@import url("./components/ArticlesList/articles_list.scss");

ul {
  list-style: none;
  padding: 0;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
